<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>Presidential Candidates 2024 General Election</h2>
    {{#each candidates}}
    <h3>{{name}}</h3>
    <p>{{party}}</p>
    <p>{{bio}}</p>
    <p>{{count}} Votes </p>
    <p><a href="{{link}}">Link to Candidate's Homepage</a></p>
    <button class="voteButton" id="{{id}}">Vote!</button>
    {{/each}}
  </div>
  <div class="col-md-6">
    <h3><a href="/login">Login or Sign Up</a></h3>
    <h3><a href="/candidate">Candidates</a></h3>
    <h3><a href="/vote">Vote Now!</a></h3>
  </div>
</div>


 <script src="/js/vote.js"></script>
